if SHIELD_MOLE_LEFT

config ZMK_KEYBOARD_NAME
    default "mole"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_MOLE_LEFT || SHIELD_MOLE_RIGHT

config ZMK_SPLIT
    default y

endif